
@include media-breakpoint-down(xl) {
	aside.left-panel {
		width: 230px !important;
	}
	.right-panel {
		padding-left: 230px !important;
	}
	.open aside.left-panel {
		width: 70px !important;
	}
	.open .right-panel {
		margin-left: -160px !important;
	}
	.user-area {
		padding-right: 20px;
		width: initial !important;
		.user-info {
			display: none;
		}
	}
}

@include media-breakpoint-down(lg) {
	aside.left-panel {
		width: 200px !important;
	}
	.right-panel {
		padding-left: 200px !important;
	}
	.open aside.left-panel {
		width: 50px !important;
	}
	.open .right-panel {
		margin-left: -150px !important;
	}
	.user-area {
		padding-right: 20px;
		width: initial !important;
		.user-info {
			display: none;
		}
	}
	aside.left-panel .navbar .navbar-nav li > a,
	.open aside.left-panel .navbar .navbar-nav li > a {
		padding-left: 50px !important;
	}
	.navbar .navbar-nav li > a .menu-icon {
		width: 50px !important;
	}
	.navbar .navbar-nav li.menu-item-has-children .sub-menu {
		padding-left: 45px !important;
	}
	.navbar .navbar-nav li.menu-item-has-children .sub-menu a {
		padding: 5px 0px 5px 25px !important;
	}
	.navbar .navbar-nav li.menu-item-has-children .sub-menu a .menu-icon {
		width: 25px !important;
	}
	.navbar .navbar-nav li > a .badge {
		font-size: 10px !important;
		margin-right: 10px !important;
		padding: 3px !important;
	}
	.open .menutoggle {
		font-size: 16px !important;
		height: 25px !important;
		line-height: 23px !important;
		margin: -2px 20px 0 -33px !important;
		width: 25px !important;
	}
	.sale-charts .card .card-body {
		padding: 15px !important;
		.row {
			margin: 0 !important;
		}
		.b-r-1 {
			border: none !important;
		}
		.text-right {
			text-align: left !important;
		}
	}
	.sale-charts .card .float-right {
		display: inline-block;
		float: none !important;
		width: 100%;
	}
	.sale-charts .card .font-weight-bold .float-right {
		width: inherit;
	}
	.sale-charts .card [class*="col"] {
		flex: 0 0 100%;
		max-width: inherit;
		padding: 0 !important;
		width: 100% !important;
	}
	.sale-charts .card .card-header {
		padding: 15px !important;
	}
	.sale-charts .chartjs-render-monitor {
		max-height: 135px !important;
	}
	.traffic-sales-users {
		text-align: left;
		strong {
			display: block;
		}
		.float-right {
			float: none !important;
		}
	}
	fieldset.form-group.float-right {
		float: right !important;
		max-width: 230px;
	}
	.callout .chart-wrapper {
		float: none !important;
		position: inherit !important;
		width: 100% !important;
	}
	.traffic-sales-users .icons-list li {
		border-bottom: 1px solid #e9ecef;
		height: inherit !important;
		.desc {
			border: none !important;
			height: inherit !important;
		}
		.value {
			float: left;
			position: initial !important;
			text-align: left !important;
		}
		.actions {
			float: right;
			position: initial !important;
		}
	}
}

@include media-breakpoint-up(md) {
	aside.left-panel {
		padding: 0 25px;
		.navbar-expand-lg {
			flex-direction: column;
			.navbar-collapse {
				display: block;
				padding: 0;
				max-width: 100%;
				width: 100%;
			}
			.navbar-toggler {
				display: none;
			}
			.navbar-brand {
				padding-left: 0;
				img {
					max-width: 135px;
				}
			}
			.navbar-nav {
				flex-direction: column;
				max-width: 100%;
				width: 100%;
			}
		}
	}
}

@include media-breakpoint-down(md) {
	aside.left-panel {
		position: initial !important;
		width: 100% !important;
		.navbar-expand-lg {
			flex-direction: row;
			margin-bottom: 0;
			.navbar-header {
				border-bottom: 1px solid #4e4e52;
			}
			.navbar-brand.invisible-xs {
				border: none !important;
				float: left;
				padding-left: 0;
			}
			.navbar-toggler {
				background: none;
				border: none;
				box-shadow: none;
				color: #fff;
				display: block;
				float: right;
				font-size: 30px;
				margin: 18px 0 15px;
			}
			.navbar-collapse {
				display: none;
				max-width: 100%;
			}
			.navbar-nav {
				flex-direction: column;
				max-width: 100%;
			}
		}
	}
	.menutoggle {
		display: none;
	}
	.right-panel {
		padding-left: 0 !important;
	}
	.mobile-menu .navbar-collapse {
		display: block !important;
	}
}

